In [1]:
import pandas as pd
given_list = [2, 4, 5, 6, 9]
series = pd.Series(given_list)
print(series)

0    2
1    4
2    5
3    6
4    9
dtype: int64

In [2]:
import pandas as pd
date_series = pd.date_range(start = '05-01-2021', end = '05-12-2021')
print(date_series)

DatetimeIndex(['2021-05-01', '2021-05-02', '2021-05-03', '2021-05-04',
               '2021-05-05', '2021-05-06', '2021-05-07', '2021-05-08',
               '2021-05-09', '2021-05-10', '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [3]:
import pandas as pd
di= {'name': ['sam', 'sinu', 'abhi'],
     'age' : [22, 25, 24],
     'dept' : ['mca', 'mtech', 'btech']}
df = pd.DataFrame(di)
print(df)

   name  age   dept
0   sam   22    mca
1  sinu   25  mtech
2  abhi   24  btech

In [4]:
import pandas as pd
lists=[[2, 'Vimi', 22],
       [3, 'Khushi', 25],
       [1, 'Anas', 24]]
df= pd.DataFrame(lists,columns = ['id', 'name', 'age'])
print(df)

   id    name  age
0   2    Vimi   22
1   3  Khushi   25
2   1    Anas   24

In [6]:
import pandas as pd
df=pd.read_csv('prg5.csv')
print(df)

    name age place
0  priyu 22 kannur
1    samith 23 tvm
2     asmi 24 kzkd
3     manu 23 ksgd

In [7]:
import pandas as pd
di= {'name': ['sam', 'sinu', 'abhi'],
     'age' : [22, 25, 24],
      'id' : [6,8,7]}
df = pd.DataFrame(di)
print(df)
print()
dfs= df.sort_values(by = ['id','age'])
print(dfs)

   name  age  id
0   sam   22   6
1  sinu   25   8
2  abhi   24   7

   name  age  id
0   sam   22   6
2  abhi   24   7
1  sinu   25   8

In [8]:
import pandas as pd
di= {'name': ['sam', 'sinu', 'abhi'],
     'age' : [22, 25, 24],
      'id' : [6,8,7]}
df = pd.DataFrame(di)
df_ci=df.set_index('id')
print(df_ci)
print()
df=df_ci.reset_index()
print(df)

    name  age
id
6    sam   22
8   sinu   25
7   abhi   24

   id  name  age
0   6   sam   22
1   8  sinu   25
2   7  abhi   24

In [9]:
import pandas as pd
di= {'name': ['sam', 'sinu', 'abhi'],
     'age' : [22, 25, 24],
      'id' : [6,8,7]}
df = pd.DataFrame(di)
op= df.loc[[0,1], :]
print(op)

   name  age  id
0   sam   22   6
1  sinu   25   8

In [10]:
import pandas as pd
di= {'name': ['sam', 'sinu', 'abhi','hema','malik'],
     'occu' : ['doctor','engineer','driver','doctor','driver'],
     'sala' : [22000, 25500, 17000,23400,14000]}
df = pd.DataFrame(di)
print(df)
print()
avg_sal=df.groupby('occu')['sala'].mean()
print(avg_sal)

    name      occu   sala
0    sam    doctor  22000
1   sinu  engineer  25500
2   abhi    driver  17000
3   hema    doctor  23400
4  malik    driver  14000

occu
doctor      22700.0
driver      15500.0
engineer    25500.0
Name: sala, dtype: float64

In [11]:
import pandas as pd
import numpy as np
di= {'name': ['sam', 'sinu', 'abhi','hema','malik','deepa'],
     'occu' : ['doctor','engineer','driver','doctor','driver','engineer'],
     'sala' : [np.nan,25500,np.nan,35500,34500,np.nan]}
df = pd.DataFrame(di)
print(df)
print()
dfn= df.fillna(0)
print(dfn)

    name      occu     sala
0    sam    doctor      NaN
1   sinu  engineer  25500.0
2   abhi    driver      NaN
3   hema    doctor  35500.0
4  malik    driver  34500.0
5  deepa  engineer      NaN

    name      occu     sala
0    sam    doctor      0.0
1   sinu  engineer  25500.0
2   abhi    driver      0.0
3   hema    doctor  35500.0
4  malik    driver  34500.0
5  deepa  engineer      0.0

In [12]:
import pandas as pd
lists=[['ramlal stores',50000],
       ['Khushi enterpr',-25000],
       ['brothers furnit',24500],
       ['seetha store',-1000],
       ['plavila furnit',33000]]
df= pd.DataFrame(lists,columns = ['cname','profit'])
print(df)
print()
df['profit']=df['profit'].apply(lambda x:x>0)
print(df)

             cname  profit
0    ramlal stores   50000
1   Khushi enterpr  -25000
2  brothers furnit   24500
3     seetha store   -1000
4   plavila furnit   33000

             cname  profit
0    ramlal stores    True
1   Khushi enterpr   False
2  brothers furnit    True
3     seetha store   False
4   plavila furnit    True

In [13]:
import pandas as pd
lists1=[[5,'ramlal',3000],
       [8,'Khushi',1000],
       [3,'binu',500],
       [1,'seetha',5000],
       [9,'priya',3200]]
df1= pd.DataFrame(lists1,columns = ['eid','ename','stipend'])
print(df1)
print()

lists2=[[8,'employee'],
       [1,'senior_emp'],
       [3,'intern'],
       [9,'employee'],
       [5,'employee']]
df2= pd.DataFrame(lists2,columns = ['eid','position'])
print(df2)
print()

df= pd.merge(df1,df2,how='inner',on='eid')
print(df)

   eid   ename  stipend
0    5  ramlal     3000
1    8  Khushi     1000
2    3    binu      500
3    1  seetha     5000
4    9   priya     3200

   eid    position
0    8    employee
1    1  senior_emp
2    3      intern
3    9    employee
4    5    employee

   eid   ename  stipend    position
0    5  ramlal     3000    employee
1    8  Khushi     1000    employee
2    3    binu      500      intern
3    1  seetha     5000  senior_emp
4    9   priya     3200    employee