In [1]:
import pandas as pd
list = [10,20,30,40,50]
print(pd.Series(list))

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [2]:
import pandas as pd
date = pd.date_range('05-01-2021','05-12-2021')
print(date)

DatetimeIndex(['2021-05-01', '2021-05-02', '2021-05-03', '2021-05-04',
               '2021-05-05', '2021-05-06', '2021-05-07', '2021-05-08',
               '2021-05-09', '2021-05-10', '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [4]:
import pandas as pd
dict = {
    'name':["kichu","richu","vichu"],
    'marks':[90,95,100]
}
print(pd.DataFrame(dict))

    name  marks
0  kichu     90
1  richu     95
2  vichu    100

In [5]:
import pandas as pd
frame = [[1,"appu",45],
         [2,"ammu",50],
        [3,"kukku",50]]
print(pd.DataFrame(frame,columns=["id","name","marks"]))

   id   name  marks
0   1   appu     45
1   2   ammu     50
2   3  kukku     50

In [10]:
import pandas as pd
r = pd.read_csv('test.csv')
print(r)

   name mark
0  athira 50
1   ammu 100
2    appu 10

In [22]:
import pandas as pd
dict = {
    'name':["Appu","vichu","kichu"],
    'marks':[90,95,10]
}
index={10,20,30}
c=pd.DataFrame(dict, index)
print(c)
print("Data Frame with default indexing")
c.reset_index(inplace=True,drop=True)
print(c)

     name  marks
10   Appu     90
20  vichu     95
30  kichu     10
Data Frame with default indexing
    name  marks
0   Appu     90
1  vichu     95
2  kichu     10

In [24]:
import pandas as pd
dict = {
    'name':["arun","varun","tharun"],
    'marks':[90,95,100]
}
c=pd.DataFrame(dict)
print(c.iloc[0:2])

    name  marks
0   arun     90
1  varun     95

In [25]:
import pandas as pd
frame = [["Nitya","Doctor",50000],
         ["Sara","Manager",50000],
        ["Eldho","Teacher",50000],
        ["neha","Teacher",40000]]
v=pd.DataFrame(frame,columns=["name","occupation","salary"])
v.groupby("occupation")['salary'].mean()

occupation
Doctor     50000.0
Manager    50000.0
Teacher    45000.0
Name: salary, dtype: float64

In [26]:
import pandas as pd
import numpy as np
nums = {'name':["a","b","c"],
    'marks': [2, 3, np.nan]}
df = pd.DataFrame(nums, columns =['name','marks'])
df['marks'] = df['marks'].fillna(0)
print(df)

  name  marks
0    a    2.0
1    b    3.0
2    c    0.0